site_name: {{ docs_site_name }}
repo_name: {{ghname}}/{{project_slug}}
repo_url: https://github.com/{{ghname}}/{{project_slug}}
theme:
    name: material

markdown_extensions:
    - attr_list

plugins:
    - termynal

nav:
    - {{docs_site_name}}: index.md