[build-system]
requires = ["setuptools >= 61.0", "wheel", "setuptools_scm"]
build-backend = "setuptools.build_meta"

[project]
name = "{{project_slug}}"
dynamic = ["version"]
description = ""
authors = [{ name = "{{author_name}}", email = "{{author_email}}" }]
license = { file = "LICENSE" }
readme = "README.md"
requires-python = "{{requires_python}}"
dependencies = []

[project.scripts]
# {{module_name}} = "{{module_name}}:app"

[project.urls]
homepage = "https://{{ghname}}.github.io/{{project_slug}}"
repository = "https://github.com/prajeeshag/{{project_slug}}"
documentation = "https://{{ghname}}.github.io/{{project_slug}}"

[tool.setuptools.packages.find]
where = ["."]
include = ["{{module_name}}"]

[tool.pytest.ini_options]
testpaths = ["tests"]

[tool.setuptools_scm]
version_scheme = "guess-next-dev"
local_scheme = "node-and-timestamp"

[tool.setuptools.package-data]
"{{module_name}}" = ["static/*"]

[tool.commitizen]
name = "cz_gitmoji"

[tool.uv]
default-groups = ["dev", "docs", "lint"]

[dependency-groups]
lint = ["ruff"]
dev = ["pytest","pytest_mock", "pytest-sugar", "pytest-cov"]
docs = [
    "mkdocs",
    "mkdocs-material",
]

[tool.coverage.run]
source = ["{{module_name}}"]
branch = true

[tool.coverage.report]
show_missing = true
skip_covered = true